  /* ====================================================================================================== */
  /* --NAVBAR-- */
  /* ====================================================================================================== */
  
  .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  
  .nav-link {
      display: block;
      padding: 0.5rem 1rem;
      font-family: 'Mulish', sans-serif;
      font-size: 20px;
      color: #0C131D;
      line-height: 150%;
      text-decoration: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  .nav-link:hover,
  .nav-link:focus {
      color: #56CCF2;
  }
  
  .navbar-footer .navbar-nav {
      padding-left: 0;
  }
  
  .navbar-footer .nav-link {
      color: #FFFFFF;
  }
  
  .navbar {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar-brand {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
  }
  
  .navbar-nav {
      display: flex;
      flex-direction: column;
      margin-top: 23px;
      margin-bottom: 23px;
      list-style: none;
  }
  
  .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
  
  .navbar-nav .dropdown-menu {
      position: static;
  }
  
  .navbar-text {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }
  
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
  }
  
  .navbar-toggler {
      font-size: 2.35rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .navbar-toggler {
          transition: none;
      }
  }
  
  .navbar-toggler:hover {
      text-decoration: none;
  }
  
  .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
  }
  
  .collapse:not(.show) {
      display: none;
  }
  
  .collapsing {
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .collapsing {
          transition: none;
      }
  }
  
  .collapsing.collapse-horizontal {
      width: 0;
      height: auto;
      transition: width 0.35s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .collapsing.collapse-horizontal {
          transition: none;
      }
  }
  
  @media (min-width: 1201px) {
      .navbar-expand-lg {
          flex-wrap: nowrap;
          justify-content: flex-start;
      }
      .navbar-expand-lg .navbar-nav {
          flex-direction: row;
      }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: absolute;
      }
      .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 1.53rem;
          padding-top: 0.54rem;
      }
      .navbar-footer .nav-link {
          padding-left: 0!important;
          padding-right: 1.5rem!important;
      }
      .navbar-expand-lg .navbar-nav-scroll {
          overflow: visible;
      }
      .navbar-expand-lg .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
      }
      .navbar-expand-lg .navbar-toggler {
          display: none;
      }
  }
  
  .fixed-top {
      position: fixed;
      overflow: hidden;
      top: 0;
      z-index: 1030;
  }
  
  #nav.header-scrolled {
      background: #FFFFFF;
      box-shadow: 0px 5px 24px rgba(67, 105, 162, 0.06), 0px 0px 1px rgba(68, 67, 162, 0.06);
  }
  
  .navbar>.container {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar-toggler-icon {
      background-image: url(../img/burger.svg);
  }
  /* --BUTTONS-- */
  
  .btn {
      font-family: 'Mulish Bold', sans-serif;
      font-size: 18px;
      line-height: 180%;
      display: inline-block;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 12px 16px 12px 24px;
      border-radius: 8px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .btn {
          transition: none;
      }
  }
  
  .btn:hover {
      color: #212529;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #2F80ED;
      border-color: #2F80ED;
  }
  
  .btn-primary:hover {
      color: #fff;
      background-color: #56CCF2;
      border-color: #56CCF2;
  }
  
  .btn-primary:active {
      color: #fff;
      background-color: #2B75D9;
      border-color: #2B75D9;
  }
  
  .btn-light {
      padding: 10px 16px 10px 24px;
      color: #2F80ED;
      background: rgba(47, 128, 237, 0.05);
  }
  
  .btn-light:hover {
      color: #2F80ED;
      background: rgba(47, 128, 237, 0.05);
  }
  
  .i-up-right {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-left: 15px;
      -webkit-mask-image: url(../img/icons/up-right.svg);
      mask-image: url(../img/icons/up-right.svg);
      background-color: #FFFFFF;
  }
  
  .i-up-right-blue {
      background-color: #2F80ED;
  }
  /* --SWIPER-- */
  
  .swiper {
      width: 100%;
      height: 187px;
      display: none;
  }
  
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      border-radius: 16px;
      background: #fff;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
  
  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .swiper-item {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .statistic .swiper-item {
      margin-top: 48px;
  }
  
  .swiper {
      padding-bottom: 43px !important;
  }
  
  .swiper-pagination-bullet {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 23%));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 4px));
      border-radius: 0;
  }
  
  .activity .swiper-pagination-bullet {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10%));
  }
  
  .swiper-activity-container {
      padding: 0;
      padding-left: 18px;
      padding-right: 18px;
  }
  
  .swiper .activity-icon {
      width: 50px;
      margin: 0;
  }
  
  .swiper .activity-text {
      margin-top: 4px;
      font-size: 18px;
      line-height: 150%;
  }
  
  .activity .swiper {
      padding-bottom: 62px !important;
  }
  
  @media (max-width: 767px) {
      .swiper {
          display: block;
      }
  }
  
  @media (max-width: 479px) {
      .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20%));
          border-radius: 0;
      }
      .activity .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10%));
      }
  }