  /* ====================================================================================================== */
  /* --NAVBAR-- */
  /* ====================================================================================================== */
  
  .nav {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  
  .nav-link {
      display: block;
      padding: 0.5rem 1rem;
      font-family: 'Mulish', sans-serif;
      font-size: 20px;
      color: #0C131D;
      line-height: 150%;
      text-decoration: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  .nav-link:hover,
  .nav-link:focus {
      color: #56CCF2;
  }
  
  .navbar-footer .navbar-nav {
      padding-left: 0;
  }
  
  .navbar-footer .nav-link {
      color: #FFFFFF;
  }
  
  .navbar-footer .nav-link:hover,
  .navbar-footer .nav-link:focus {
      color: #56CCF2;
  }
  
  .navbar {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar-brand {
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      text-decoration: none;
      white-space: nowrap;
  }
  
  .navbar-nav {
      display: flex;
      flex-direction: column;
      margin-top: 23px;
      margin-bottom: 23px;
      list-style: none;
  }
  
  .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
  }
  
  .navbar-nav .dropdown-menu {
      position: static;
  }
  
  .navbar-text {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }
  
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
  }
  
  .navbar-toggler {
      font-size: 2.35rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .navbar-toggler {
          transition: none;
      }
  }
  
  .navbar-toggler:hover {
      text-decoration: none;
  }
  
  .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
  }
  
  .collapse:not(.show) {
      display: none;
  }
  
  .collapsing {
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .collapsing {
          transition: none;
      }
  }
  
  .collapsing.collapse-horizontal {
      width: 0;
      height: auto;
      transition: width 0.35s ease;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .collapsing.collapse-horizontal {
          transition: none;
      }
  }
  
  @media (min-width: 1201px) {
      .navbar-expand-lg {
          flex-wrap: nowrap;
          justify-content: flex-start;
      }
      .navbar-expand-lg .navbar-nav {
          flex-direction: row;
      }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
          position: absolute;
      }
      .navbar-expand-lg .navbar-nav .nav-link {
          padding-right: 0.5rem;
          padding-left: 1.53rem;
          padding-top: 0.54rem;
      }
      .navbar-footer .nav-link {
          padding-left: 0!important;
          padding-right: 1.5rem!important;
      }
      .navbar-expand-lg .navbar-nav-scroll {
          overflow: visible;
      }
      .navbar-expand-lg .navbar-collapse {
          display: flex !important;
          flex-basis: auto;
      }
      .navbar-expand-lg .navbar-toggler {
          display: none;
      }
  }
  
  @media (max-width: 1200px) {
      .navbar-collapse {
          background: #fff;
      }
  }
  
  .fixed-top {
      position: fixed;
      overflow: hidden;
      top: 0;
      z-index: 1030;
  }
  
  #nav.header-scrolled {
      background: #FFFFFF;
      box-shadow: 0px 5px 24px rgba(67, 105, 162, 0.06), 0px 0px 1px rgba(68, 67, 162, 0.06);
  }
  
  .navbar>.container {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar-toggler-icon {
      background-image: url(../img/burger.svg);
  }
  /* --BUTTONS-- */
  
  .btn {
      font-family: 'Mulish Bold', sans-serif;
      font-size: 18px;
      line-height: 180%;
      display: inline-block;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 12px 16px 12px 24px;
      border-radius: 8px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .btn {
          transition: none;
      }
  }
  
  .btn:hover {
      color: #212529;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #2F80ED;
      border-color: #2F80ED;
  }
  
  .btn-primary:hover {
      color: #fff;
      background-color: #56CCF2;
      border-color: #56CCF2;
  }
  
  .btn-primary:active {
      color: #fff;
      background-color: #2B75D9;
      border-color: #2B75D9;
  }
  
  .btn-light {
      padding: 10px 16px 10px 24px;
      color: #2F80ED;
      background: rgba(47, 128, 237, 0.05);
  }
  
  .btn-light:hover {
      color: #2F80ED;
      background: rgba(47, 128, 237, 0.1);
  }
  
  .consult-btn,
  .career-btn {
      margin-top: 70px;
  }
  
  .submit-btn {
      float: right;
      margin-right: 14px;
  }
  
  .i-info {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-left: 15px;
      -webkit-mask-image: url(../img/icons/info.svg);
      mask-image: url(../img/icons/info.svg);
      background-color: #FFFFFF;
  }
  
  .i-up-right {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-left: 15px;
      -webkit-mask-image: url(../img/icons/up-right.svg);
      mask-image: url(../img/icons/up-right.svg);
      background-color: #FFFFFF;
  }
  
  .i-msg {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-left: 15px;
      -webkit-mask-image: url(../img/icons/msg.svg);
      mask-image: url(../img/icons/msg.svg);
      background-color: #FFFFFF;
  }
  
  .i-attach {
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      margin-left: 15px;
      -webkit-mask-image: url(../img/icons/attach.svg);
      mask-image: url(../img/icons/attach.svg);
      background-color: #FFFFFF;
  }
  
  .i-up-right-blue {
      background-color: #2F80ED;
  }
  /* --FORM-- */
  
  input,
  textarea {
      font-family: 'Mulish';
      font-size: 18px;
      line-height: 135%;
      color: #0C131D;
      border-radius: 8px;
      border: 1px solid #FFFFFF;
      background: #FFFFFF;
      padding: 28px 20px 12px 20px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  textarea:hover,
  textarea:focus,
  input:hover,
  input:focus {
      border-color: #2F80ED;
  }
  
  textarea:focus-visible,
   :focus-visible {
      outline: #2F80ED;
  }
  /* =========== */
  
  .form-floating {
      position: relative;
      margin-bottom: 14px;
  }
  
  .form-floating>label {
      font-family: 'Mulish';
      font-size: 18px;
      line-height: 135%;
      position: absolute;
      top: 4px;
      left: 20px;
      height: 100%;
      padding: 1rem 0.75rem;
      pointer-events: none;
      border: 1px solid transparent;
      transform-origin: 0 0;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .form-floating>label {
          transition: none;
      }
  }
  
  .form-floating>.form-control::-moz-placeholder {
      color: transparent;
  }
  
  .form-floating>.form-control::placeholder {
      color: transparent;
  }
  
  .form-floating>.form-control:not(:-moz-placeholder-shown)~label {
      opacity: 0.65;
      transform: scale(0.8) translateY(-0.8rem) translateX(0.15rem);
  }
  
  .form-floating>.form-control:focus~label,
  .form-floating>.form-control:not(:placeholder-shown)~label,
  .form-floating>.form-select~label {
      opacity: 0.65;
      transform: scale(0.8) translateY(-0.8rem) translateX(0.15rem);
  }
  
  .form-floating>.form-control:-webkit-autofill~label {
      opacity: 0.65;
      transform: scale(0.8) translateY(-0.8rem) translateX(0.15rem);
  }
  
  @media (prefers-reduced-motion: reduce) {
      .form-control {
          transition: none;
      }
  }
  
  .form-control[type=file] {
      overflow: hidden;
  }
  /* .form-control[type=file]::before {
      content: 'Прикрепить файл ';
  } */
  
  .form-control[type=file]:not(:disabled):not([readonly]) {
      cursor: pointer;
  }
  
  .form-control::-moz-placeholder {
      color: #6c757d;
      opacity: 1;
  }
  
  .form-control::placeholder {
      color: #6c757d;
      opacity: 1;
  }
  
  .form-control[type=file]:not(:disabled):not([readonly]) {
      cursor: pointer;
      margin-bottom: 14px;
      padding: 18px 20px 16px 20px;
  }
  
  .form-control::-webkit-file-upload-button {
      padding: 3rem 0 1.375rem 0;
      margin: -1.375rem -1.75rem;
      -webkit-margin-end: 1.75rem;
      margin-inline-end: 0.5rem;
      float: right;
      color: transparent;
      width: 32px;
      height: 32px;
      vertical-align: middle;
      background: url(../img/icons/attach.svg) no-repeat center center;
      pointer-events: none;
      border: none;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
      .form-control::-webkit-file-upload-button {
          -webkit-transition: none;
          transition: none;
      }
      .form-control::file-selector-button {
          transition: none;
      }
  }
  /* --SWIPER-- */
  
  .swiper {
      width: 100%;
      height: 187px;
      display: none;
      padding-bottom: 43px !important;
  }
  
  .swiper-slide {
      text-align: center;
      font-size: 18px;
      border-radius: 16px;
      background: #fff;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }
  
  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .swiper-item {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
      content: "";
  }
  
  .swiper-button-next,
  .swiper-button-prev {
      background: #FFFFFF;
      border-radius: 8px;
      width: 80px;
      height: 56px;
      display: flex;
  }
  
  .swiper-button-arrow-right {
      -webkit-mask-image: url(../img/icons/arrow-right.svg);
      mask-image: url(../img/icons/arrow-right.svg);
      background-color: #2F80ED;
      background-size: cover;
      width: 32px;
      height: 32px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  .swiper-button-arrow-left {
      -webkit-mask-image: url(../img/icons/arrow-left.svg);
      mask-image: url(../img/icons/arrow-left.svg);
      background-color: #2F80ED;
      background-size: cover;
      width: 32px;
      height: 32px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  
  .swiper-button-arrow-right:hover,
  .swiper-button-arrow-left:hover {
      background-color: #56CCF2;
  }
  
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
      opacity: .65;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
      margin-top: 10px;
  }
  /* swiper company */
  
  .swiper-scroll {
      position: relative;
  }
  
  .swiper-scroll .swiper {
      display: block;
      height: 420px;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 14px;
      padding-bottom: 0!important;
  }
  
  .swiper-scroll .swiper-slide {
      background: transparent;
  }
  
  .swiper-scroll .swiper-slide {
      display: flex;
      width: auto;
      text-align: start;
  }
  
  .swiper-scrollbar-drag {
      position: relative;
      background: url(../img/hexagon.png) no-repeat center center;
      background-size: cover;
      width: 36px!important;
      height: 36px;
      left: 0;
      top: -15px;
      cursor: grab;
  }
  
  .swiper-horizontal>.swiper-scrollbar {
      left: 20%;
      width: 60%;
  }
  
  .swiper-scrollbar {
      background: #D0DBEC;
  }
  
  .swiper-horizontal>.swiper-scrollbar {
      bottom: 38px;
  }
  /* swiper employees */
  
  .swiper-emp-container {
      max-width: 1154px;
      margin: 0;
  }
  
  .employees .swiper {
      display: block;
      height: 420px;
      position: absolute;
      top: -94px;
      left: 0;
      padding-top: 90px;
  }
  
  .employees .swiper-button-prev,
  .employees .swiper-button-next {
      top: 20px;
  }
  
  .employees .swiper-slide {
      display: flex;
      width: auto;
      background: transparent;
      margin-right: 137px;
  }
  
  .employees .swiper-item {
      align-items: unset;
      text-align: start;
  }
  
  .employees .swiper-pagination {
      display: none;
  }
  
  .employees .swiper-button-prev {
      right: 116px;
      left: auto;
  }
  
  .employees .swiper-button-next {
      right: 20px;
  }
  /* swiper licenses */
  
  .licenses .swiper {
      display: block;
      height: 305px;
  }
  
  .licenses .swiper-slide {
      text-align: start;
  }
  
  .licenses .swiper-item {
      display: block;
  }
  
  .licenses-swiper-navigation-wrap {
      position: relative;
      flex: 0 0 12%;
  }
  
  #swiperNext {
      top: 321px;
      left: 75px;
  }
  
  #swiperPrev {
      top: 22px;
      left: 75px;
  }
  
  .licenses-swiper-navigation-wrap {
      display: block;
  }
  
  .licenses-swiper-pagination-wrap {
      display: block;
      position: absolute;
      width: 80px;
      height: 227px;
      background: #FFFFFF;
      border-radius: 8px;
      left: 75px;
      top: 64px;
  }
  
  .licenses-swiper-pagination-wrap__pagination {
      position: relative;
      width: 70px;
      height: 225px;
      margin-left: 5px;
  }
  
  .swiper-pagination-licenses {
      position: absolute;
      top: 110px;
      margin-left: 16px;
  }
  /* =================== */
  
  .statistic .swiper-item {
      margin-top: 48px;
  }
  
  .licenses .swiper-pagination-bullet,
  .statistic .swiper-pagination-bullet,
  .activity .swiper-pagination-bullet,
  .employees .swiper-pagination-bullet {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 23%));
      height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 4px));
      border-radius: 0;
  }
  
  .activity .swiper-pagination-bullet {
      width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10%));
  }
  
  .swiper .activity-icon {
      width: 50px;
      margin: 0;
  }
  
  .swiper .activity-text {
      margin-top: 4px;
      font-size: 18px;
      line-height: 150%;
  }
  
  .activity .swiper {
      padding-bottom: 62px !important;
  }
  
  @media (max-width: 1200px) {
      .employees .swiper {
          top: -84px;
      }
      .employees .swiper-button-prev {
          right: 125px;
          left: auto;
      }
      .employees .swiper-button-next {
          right: 15px;
      }
      .employees .swiper-slide {
          margin-right: 31px;
      }
      .employees .swiper-wrapper {
          position: absolute;
          top: 20px;
          left: -70px;
      }
      .employees .swiper-button-prev,
      .employees .swiper-button-next {
          top: 20px;
      }
      .licenses-swiper-navigation-wrap {
          flex: 0 0 15%;
      }
      #swiperNext {
          top: 340px;
          left: 46px;
      }
      #swiperPrev {
          top: 40px;
          left: 46px;
      }
      .licenses-swiper-pagination-wrap {
          left: 46px;
          top: 82px;
      }
  }
  
  @media (max-width: 1023px) {
      .employees .swiper-button-prev,
      .employees .swiper-button-next {
          top: 18px;
      }
      .employees .swiper {
          padding-top: 106px;
      }
      .employees .swiper-button-prev {
          right: 117px;
          left: auto;
      }
      .employees .swiper-button-next {
          right: 15px;
      }
      .employees .swiper-wrapper {
          top: 26px;
          left: -25px;
      }
      #swiperNext,
      #swiperPrev {
          left: 12px;
      }
      .licenses-swiper-pagination-wrap {
          left: 12px;
      }
      .swiper-scroll .swiper {
          top: 40px;
      }
  }
  
  @media (max-width: 767px) {
      .employees .swiper {
          height: 465px;
          padding-top: 90px;
          padding-bottom: 90px!important;
      }
      .swiper {
          display: block;
      }
      .employees .swiper-pagination {
          display: block;
      }
      .employees .swiper-button-prev,
      .employees .swiper-button-next {
          display: none;
      }
      .employees .swiper-wrapper {
          top: 9px;
          left: 11px;
      }
      .licenses-swiper-navigation-wrap {
          display: none;
      }
      .licenses .swiper {
          height: 265px;
      }
      .licenses-swiper-pagination-wrap {
          display: none;
      }
      .swiper-horizontal>.swiper-scrollbar {
          bottom: 20px;
          left: 10%;
          width: 80%;
      }
  }
  
  @media (max-width: 479px) {
      .employees .swiper-wrapper {
          top: 9px;
          left: 20px;
      }
      .employees .swiper {
          left: 0;
          padding-bottom: 120px!important;
      }
      .licenses .swiper-pagination-bullet,
      .statistic .swiper-pagination-bullet,
      .activity .swiper-pagination-bullet,
      .employees .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20%));
          border-radius: 0;
      }
      .activity .swiper-pagination-bullet {
          width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10%));
      }
      .licenses .swiper {
          height: 238px;
      }
  }