body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background: #F7F7F8;
    color: #0C131D;
    font-size: 20px;
}

h2 {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 125%;
}

.text-center {
    text-align: center;
}

.logo {
    display: block;
    width: 224px;
    height: 44px;
    background: url(../img/logo.svg) no-repeat center left;
}

.logo-2 {
    display: block;
    width: 306px;
    height: 60px;
    background: url(../img/logo-2.svg) no-repeat center left;
}

.pr-10 {
    padding-right: 10px;
}

.p0 {
    padding: 0;
}

.mt0 {
    margin-top: 0;
}

.w100 {
    width: 100%;
}

.relative {
    position: relative;
}

@media (max-width: 1200px) {
    .container {
        max-width: 896px;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 672px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 432px;
    }
    h2 {
        font-size: 32px;
    }
    .banner__wrap-m {
        max-width: 432px;
        margin: 0 auto;
    }
}

@media (max-width: 479px) {
    .container {
        max-width: 328px;
    }
    h2 {
        font-size: 28px;
    }
}

.inner-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1401px) {
    .inner-container {
        max-width: 1320px;
    }
}

@media (max-width: 1400px) {
    .inner-container {
        max-width: 1100px;
    }
}

@media (max-width: 1201px) {
    .inner-container {
        max-width: 898px;
    }
}

@media (max-width: 1023px) {
    .inner-container {
        max-width: 672px;
    }
}

@media (max-width: 767px) {
    .inner-container {
        max-width: 410px;
    }
}

@media (max-width: 479px) {
    .inner-container {
        max-width: 305px;
    }
}


/* ====================================================================================================== 
--BANNER-- 
====================================================================================================== */

.banner {
    margin-top: 164px!important;
    position: relative;
}

.tiles {
    border-radius: 16px;
    background: #FFFFFF;
}

.banner__text {
    font-family: "Montserrat Alternates SemiBold", sans-serif;
    font-size: 56px;
    line-height: 125%;
    margin: 0;
}

.banner__text_home {
    padding-top: 270px;
    padding-bottom: 200px;
}

.banner__text-comp {
    padding-top: 182px;
    padding-bottom: 213px;
}

.banner__text-sm {
    font-family: 'Mulish Light';
    font-size: 20px;
    line-height: 175%;
    color: #6E7582;
}

.banner__text span {
    color: #2F80ED;
}

.cube {
    width: 722px;
    height: 722px;
    position: absolute;
    top: -85px;
    left: -28px;
}

.rings {
    background: url(../img/rings.png) no-repeat center center;
    background-size: cover;
    width: 524px;
    height: 610px;
    position: absolute;
    top: 0;
    left: 116px;
}


/* for text animation */

.word {
    position: absolute;
    top: 200px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.banner__col {
    flex: 0 0 auto;
    width: 50%;
}

.banner__col-text {
    flex: 0 0 auto;
    width: 60%;
}

.banner__col-img {
    flex: 0 0 auto;
    width: 40%;
}

@media (min-width: 1601px) {
    .tiles {
        width: 1547px;
    }
}

@media (max-width: 1600px) {
    .tiles {
        width: 1400px;
    }
}

@media (max-width: 1440px) {
    .tiles {
        width: 1380px;
    }
    .cube {
        width: 650px;
        height: 650px;
    }
    .banner {
        margin-top: 150px!important;
    }
    .banner__text {
        font-size: 50px;
    }
    .banner__text_home {
        padding-top: 207px;
        padding-bottom: 190px;
    }
    .word {
        position: absolute;
        top: 157px;
        opacity: 0;
    }
}

@media (max-width: 1400px) {
    .tiles {
        width: 1280px;
    }
    .cube {
        width: 630px;
        height: 630px;
    }
}

@media (max-width: 1300px) {
    .tiles {
        width: 1180px;
    }
}

@media (max-width: 1200px) {
    .tiles {
        width: 1024px;
    }
    .cube {
        width: 528px;
        height: 528px;
        top: -32px;
        left: -16px;
    }
    .banner__col-text {
        flex: 0 0 auto;
        width: 50%;
    }
    .rings {
        width: 398px;
        height: 464px;
        top: 0;
        left: 116px;
    }
    .banner__text-comp {
        padding-top: 104px;
        padding-bottom: 135px;
    }
    .banner {
        margin-top: 114px!important;
    }
    .banner__text {
        font-size: 40px;
    }
    .banner__text_home {
        padding-top: 207px;
        padding-bottom: 157px;
    }
    .word {
        top: 157px;
    }
}

@media (max-width: 1023px) {
    .tiles {
        width: 768px;
    }
    .banner .tiles {
        height: 336px;
    }
    .cube {
        width: 368px;
        height: 368px;
        top: -16px;
        left: 15px;
    }
    .banner {
        margin-top: 106px!important;
    }
    .banner__text {
        font-size: 32px;
    }
    .banner__text_home {
        padding-top: 150px;
        padding-bottom: 157px;
    }
    .word {
        top: 108px;
    }
}

@media (max-width: 767px) {
    .tiles {
        max-width: 432px;
    }
    .banner .tiles {
        height: 473px;
    }
    .cube {
        width: 305px;
        height: 305px;
        top: -477px;
        left: 63px;
    }
    .banner__col {
        flex-basis: 100%;
    }
    .banner__text {
        text-align: center;
    }
    .banner__text_home {
        padding-top: 345px;
        padding-bottom: 20px;
    }
    .word {
        top: 305px;
    }
    .banner {
        margin-top: 98px!important;
    }
    .logo {
        width: 163px;
        height: 32px;
        background-size: contain;
    }
}

@media (max-width: 479px) {
    .banner {
        margin-top: 90px!important;
    }
    .tiles {
        max-width: 328px;
    }
    .cube {
        top: -448px;
        left: 12px;
    }
    .banner__text {
        font-size: 24px;
    }
    .banner__text_home {
        padding-top: 334px;
    }
    .banner .tiles {
        height: 442px;
    }
    .word {
        top: 304px;
    }
}


/* ====================================================================================================== 
--STATISTIC-- 
====================================================================================================== */

.statistic {
    margin-top: 80px!important;
}

.statistic__title {
    font-family: "Mulish Bold", sans-serif;
    font-size: 24px;
    line-height: 170%;
    margin-top: 0;
    margin-bottom: 0;
}

.statistic__value {
    font-family: 'Montserrat Alternates Bold', sans-serif;
    font-size: 40px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 65px;
    background: radial-gradient(76.96% 76.96% at 0% 0%, #56CCF2 0%, #2F80ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.statistic .row {
    justify-content: space-between;
}

.statistic__wrap {
    padding-top: 80px;
    padding-bottom: 15px;
}

.statistic__main {
    display: block;
}

@media (min-width: 1201px) {
    .statistic__col {
        flex: 0 0 20%;
    }
}

@media (max-width: 1400px) {
    .statistic__col {
        flex: 0 0 25%;
    }
}

@media (max-width: 1200px) {
    .statistic__col {
        flex: 0 0 50%;
    }
    .statistic {
        margin-top: 56px!important;
    }
    .statistic__wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1023px) {
    .statistic {
        margin-top: 40px!important;
    }
    .statistic .tiles {
        height: 406px;
    }
    .statistic__wrap {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .statistic {
        margin-top: 24px!important;
    }
    .statistic__main {
        display: none;
    }
}


/* ====================================================================================================== 
--ABOUT-- 
====================================================================================================== */

.about {
    margin-top: 216px;
}

.about h2 {
    margin-top: 0;
}

.about p {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

.about__content_home {
    margin-top: 117px;
    padding-right: 14px;
}

.about .btn {
    margin-top: 28px;
}

.about img {
    display: block;
}

.about__col {
    flex: 0 0 50%;
}

.about__col-title {
    flex: 0 0 41.7%;
}

.about__col-content {
    flex: 0 0 57%;
}

@media (max-width: 1400px) {
    .about__content_home {
        margin-top: 55px;
    }
}

@media (max-width: 1200px) {
    .about img {
        display: none;
    }
    .about__col {
        flex: 0 0 100%;
    }
    .about {
        margin-top: 112px;
    }
    .about__content_home {
        margin-top: 0;
    }
    .about .container {
        max-width: 894px;
    }
}

@media (max-width: 1023px) {
    .about .container {
        width: 670px;
    }
}

@media (max-width: 767px) {
    .about .container {
        max-width: 428px;
    }
    .about {
        margin-top: 81px;
    }
    .about h2 {
        font-size: 32px;
    }
    .about p {
        font-size: 18px;
    }
    .about .btn {
        margin-top: 31px;
    }
}

@media (max-width: 479px) {
    .about .container {
        max-width: 328px;
    }
    .about p {
        font-size: 16px;
    }
    .about h2 {
        font-size: 28px;
    }
}


/* ====================================================================================================== 
--ACTIVITY-- 
====================================================================================================== */

.activity {
    margin-top: 216px!important;
}

.activity h2 {
    padding-top: 80px;
    padding-bottom: 54px;
    margin: 0;
}

.activity-text {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.activity-item {
    display: flex;
}

.activity-icon {
    width: 160px;
    height: 70px;
    margin-top: 10px;
}

.activity .row {
    padding-bottom: 60px;
}

.i-dev {
    background: url(../img/icons/dev.svg) no-repeat;
    margin-right: 28px;
}

.i-gz {
    background: url(../img/icons/gz.svg) no-repeat;
    margin-right: 20px;
}

.i-arrow {
    background: url(../img/icons/arrow.svg) no-repeat;
    margin-right: 33px;
}

.i-doughnut {
    background: url(../img/icons/doughnut.svg) no-repeat;
    width: 105px;
    margin-right: 33px;
}

.i-quad {
    background: url(../img/icons/quad.svg) no-repeat;
    width: 100px;
    margin-right: 33px;
}

.i-bar {
    background: url(../img/icons/bar.svg) no-repeat;
    width: 48px;
    margin-right: 33px;
}

.i-map {
    background: url(../img/icons/map.svg) no-repeat;
    width: 50px;
    margin-right: 33px;
}

.tech {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
}

.tech-text {
    font-family: 'Montserrat Alternates ExtraBold', sans-serif;
    font-size: 56px;
    line-height: 125%;
    letter-spacing: 0.05em;
    word-spacing: 40px;
    color: transparent;
    -webkit-text-stroke: 1px #15499F;
}

.tech-bottom {
    display: none;
}

.tech-bottom-m {
    display: none;
}

.activity-main {
    display: flex;
}

@media (max-width: 1400px) {
    .activity-icon {
        width: 196px;
    }
    .i-doughnut {
        margin-right: 8px;
    }
    .i-quad {
        margin-right: 6px;
    }
    .i-bar {
        width: 80px;
        margin-right: 0;
    }
    .i-map {
        width: 80px;
        margin-right: 16px;
    }
}

@media (min-width: 1201px) {
    .col-activity {
        width: 34%;
        margin-right: 74px;
    }
    .activity__title {
        width: 50%;
    }
    .mt-i-map {
        margin-top: 1rem;
    }
}

@media (max-width: 1200px) {
    .activity {
        margin-top: 110px!important;
    }
    .col-activity {
        width: 75%;
        margin-right: 52px;
    }
    .activity__title {
        width: 75%;
    }
    .activity-icon {
        width: 103px;
    }
    .activity-text {
        margin-top: 18px;
        margin-bottom: 15px;
    }
    .i-bar {
        width: 80px;
        margin-right: 0;
    }
    .i-map {
        width: 80px;
        margin-right: 0;
    }
    .mt-i-map {
        margin-top: 0.5rem;
    }
    .mt-act-2 {
        padding-top: 17px;
    }
    .activity .row {
        padding-bottom: 56px;
    }
    .activity-main {
        display: block;
    }
}

@media (max-width: 1023px) {
    .activity__title {
        width: 100%;
    }
    .activity h2 {
        padding-bottom: 45px;
    }
    .col-activity {
        width: 100%;
    }
    .tech {
        display: none;
    }
    .tech-bottom {
        display: block;
        margin-top: 65px;
    }
    .tech-text {
        word-spacing: 3px;
    }
}

@media (max-width: 767px) {
    .activity {
        margin-top: 94px!important;
    }
    .activity h2 {
        font-size: 32px;
        text-align: center;
        padding-top: 48px;
    }
    .activity-main {
        display: none;
    }
    .activity .row {
        padding-bottom: 24px;
    }
    .tech-bottom {
        display: none;
    }
    .tech-bottom-m {
        display: block;
    }
}

@media (max-width: 479px) {
    .tech-text {
        font-size: 45px;
    }
}


/* ====================================================================================================== 
--PROJECTS-- 
====================================================================================================== */

.projects {
    margin-top: 219px;
}

.projects .row {
    margin-top: 54px;
}

.tile-sm {
    margin-bottom: 29px;
    padding: 17px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.projects-content {
    padding: 20px 20px 20px 23px;
}

.projects-content-title {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 24px;
    line-height: 125%;
    margin-top: 7px;
    margin-bottom: 0;
}

.projects-content-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
    margin-top: 7px;
    margin-bottom: 3px;
}

.projects-content.empty-p {
    padding: 0px 20px 17px 23px;
}

.projects-bottom-fade {
    position: absolute;
    bottom: 0;
    height: 205px;
    background: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, rgba(247, 247, 248, 0.8) 34.64%, #F7F7F8 98.36%);
}

.last-project {
    display: block;
}

.projects-bottom-fade {
    display: block;
}

@media (max-width: 1200px) {
    .projects {
        margin-top: 112px;
    }
    .projects .row {
        margin-top: 40px;
    }
    .tile-sm {
        margin-bottom: 31px;
    }
}

@media (max-width: 1023px) {
    .last-project {
        display: none;
    }
    .projects-content-title {
        margin-top: 0;
    }
    .projects-content {
        padding: 20px 20px 14px 23px;
    }
    .projects-content-text {
        font-size: 18px;
    }
    .projects-bottom-fade {
        display: none;
    }
}

@media (max-width: 767px) {
    .projects {
        margin-top: 105px;
    }
    .projects h2 {
        font-size: 32px;
    }
    .projects .row {
        margin-top: 33px;
    }
    .projects-content {
        padding: 20px 20px 15px 23px;
    }
}

@media (max-width: 479px) {
    .projects {
        margin-top: 65px;
    }
    .projects-content-text {
        font-size: 16px;
    }
    .tile-sm {
        margin-bottom: 16px;
    }
}


/* ====================================================================================================== 
--EMPLOYEES-- 
====================================================================================================== */

.employees {
    margin-top: 219px;
}

.tiles-emps {
    position: relative;
    width: 870px;
    /* margin-top: 26px; */
    /* margin-top: 58px; */
    border-radius: 16px;
    padding: 50px 64px 50px 48px;
    height: 262px;
    background-color: #FFFFFF;
    /* margin-left: 116px; */
    margin-left: 34px;
}

.emp {
    position: absolute;
    top: 27px;
    left: -116px;
    background: url(../img/employee-1.png) no-repeat;
    background-size: contain;
    width: 262px;
    height: 283px;
}

.emp-text {
    margin-left: 158px;
}

.emp-text-sm {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Mulish Light', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #6E7582;
}

.emp-text-name {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 28px;
    line-height: 125%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.emp-text-description {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

@media (max-width: 1200px) {
    .tiles-emps {
        width: 668px;
        height: 227px;
        margin-left: 0;
        margin-top: 98px;
        padding: 92px 32px 10px 32px;
    }
    .employees {
        margin-top: 114px;
    }
    .emp-text-description {
        font-size: 18px;
    }
    .emp-text-name {
        font-size: 24px;
    }
    .emp {
        top: -87px;
        left: 35px;
        width: 153px;
        height: 164px;
    }
    .emp-text {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .tiles-emps {
        width: 531px;
        padding: 92px 32px 40px 32px;
    }
}

@media (max-width: 767px) {
    .employees {
        margin-top: 96px;
    }
    .tiles-emps {
        width: 368px;
        height: 344px;
        margin-top: 70px;
        padding: 92px 32px 40px 24px;
    }
    .emp-text-name {
        font-size: 20px;
    }
    .emp {
        top: -38px;
        left: 24px;
        width: 107px;
        height: 115px;
    }
}

@media (max-width: 479px) {
    .tiles-emps {
        width: 275px;
        height: 375px;
    }
    .emp-text-description {
        font-size: 16px;
    }
}


/* ======================================================================================================
--LICENSES--
====================================================================================================== */

.licenses-mt {
    margin-top: 216px;
}

.licenses-mt-emp {
    margin-top: 636px;
}

.licenses-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

.tiles-docs {
    margin-left: 175px;
    width: 552px;
    height: 355px;
    background: #FFFFFF;
    border-radius: 16px;
}

.tiles-docs__item {
    padding: 40px;
}

.tiles-docs__pdf {
    background: url(../img/icons/pdf.svg) no-repeat center center;
    background-size: cover;
    width: 48px;
    height: 48px;
}

.tiles-docs__text {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.tiles-docs__links {
    font-family: 'Mulish SemiBold', sans-serif;
    font-size: 18px;
    line-height: 130%;
    margin-top: 95px;
}

.tiles-docs__links a {
    margin-right: 42px;
    text-decoration: none;
    color: #2F80ED;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tiles-docs__links a:hover {
    color: #56CCF2;
}

@media (min-width: 1201px) {
    .licenses .col-lg-4 {
        width: 37%;
        margin-top: 10px;
    }
    .licenses h2 {
        margin-top: 31px;
    }
}

@media (max-width: 1399px) {
    .tiles-docs {
        margin-left: 76px;
    }
}

@media (max-width: 1200px) {
    .tiles-docs {
        margin-left: 0;
        margin-top: 18px;
        width: 808px;
        height: 355px;
    }
    .licenses-mt-emp {
        margin-top: 573px;
    }
    .licenses .col-lg-4 {
        width: 100%;
        margin-top: 0;
    }
    .licenses h2 {
        margin-top: 0;
    }
    .tiles-docs__links {
        margin-top: 125px;
    }
    .licenses .col-lg-6 {
        width: 85%;
    }
}

@media (max-width: 1023px) {
    .tiles-docs {
        width: 584px;
    }
    .licenses {
        margin-top: 604px;
    }
    .tiles-docs__text {
        font-size: 18px;
    }
    .tiles-docs__item {
        padding: 32px;
    }
    .tiles-docs__links {
        margin-top: 150px;
    }
}

@media (max-width: 767px) {
    .licenses-mt-emp {
        margin-top: 670px;
    }
    .licenses-text {
        font-size: 18px;
    }
    .tiles-docs {
        width: 432px;
        margin-top: 12px;
        height: 300px;
    }
    .tiles-docs__links {
        margin-top: 68px;
    }
}

@media (max-width: 479px) {
    .tiles-docs {
        width: 324px;
    }
    .licenses-mt-emp {
        margin-top: 660px;
    }
    .tiles-docs__text {
        font-size: 16px;
    }
    .tiles-docs__links {
        margin-top: 60px;
    }
    .tiles-docs__links a {
        margin-right: 30px;
    }
}


/* ====================================================================================================== 
--PARTNERS-- 
====================================================================================================== */

.partners {
    margin-top: 216px;
}

.partners-list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.partners-list-item {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 133px;
    padding: 48px 32px 48px 32px;
    margin-right: 28px;
    margin-top: 0;
    background: #FFFFFF;
    border-radius: 16px;
}

@media (min-width: 1201px) {
    .partners-img {
        width: 283px;
        height: 213px;
        background-size: contain;
    }
}

.partners-list-item-1 {
    background: url(../img/partner-1.png) center center no-repeat;
}

.partners-list-item-2 {
    background: url(../img/partner-2.png) center center no-repeat;
}

.partners-list-item-3 {
    background: url(../img/partner-3.png) center center no-repeat;
}

.partners-list-item-4 {
    background: url(../img/partner-4.png) center center no-repeat;
}

.partners-list-item-5 {
    background: url(../img/partner-5.png) center center no-repeat;
}

.partners-list-item-6 {
    background: url(../img/partner-6.png) center center no-repeat;
}

.partners-list-item-7 {
    background: url(../img/partner-7.png) center center no-repeat;
}

.partners-list-item-8 {
    background: url(../img/partner-8.png) center center no-repeat;
}

.partners-list-item-9 {
    background: url(../img/partner-9.png) center center no-repeat;
}

.partners-list-item-10 {
    background: url(../img/partner-10.png) center center no-repeat;
}

@media (max-width: 1200px) {
    .partners {
        margin-top: 112px;
    }
    .partners-img {
        width: 200px;
        height: 150px;
        background-size: contain;
    }
    .partners-list-item {
        width: 222px;
        height: 105px;
        padding: 25px 60px 25px 60px;
    }
}

@media (max-width: 767px) {
    .partners {
        margin-top: 125px;
    }
    .partners h2 {
        margin-bottom: 0;
    }
}

@media (max-width: 479px) {
    .partners {
        margin-top: 96px;
    }
}


/* ======================================================================================================
--CAREER-- 
====================================================================================================== */

.career {
    margin-top: 113px;
}

.col-career-img {
    flex: 2;
}

.col-career-text {
    flex: 1;
}

.career-img {
    background: url(../img/career.png) center center no-repeat;
    background-size: contain;
    width: 752px;
    height: 752px;
}

.career-description {
    margin-left: 26px;
    margin-top: 163px;
}

.career-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.career .btn {
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .career {
        margin-top: 103px;
    }
    .career .row {
        justify-content: center;
    }
    .career-img {
        width: 664px;
        height: 664px;
    }
    .col-career-img {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .col-career-text {
        text-align: center;
        flex: 0 0 44%;
    }
    .career-description {
        margin-left: 0;
        margin-top: -32px;
    }
}

@media (max-width: 1023px) {
    .career-img {
        width: 504px;
        height: 504px;
    }
    .col-career-text {
        flex: 0 0 60%;
    }
}

@media (max-width: 767px) {
    .career {
        margin-top: -34px;
    }
    .col-career-text {
        flex: 0 0 90%;
        font-size: 18px;
    }
    .career-img {
        height: 452px;
    }
    .career .btn {
        margin-top: 54px;
    }
    .career-text {
        font-size: 18px;
    }
}


/* ====================================================================================================== 
--CHIEF-- 
====================================================================================================== */

.chief-mt {
    margin-top: 216px;
}

.chief__img {
    background: url(../img/Chief.png) no-repeat center center;
    background-size: cover;
    width: 341px;
    height: 368px;
    margin-left: 93px;
}

.chief__text {
    margin-left: 112px;
}

.chief__text h2 {
    margin-bottom: 46px;
}

.chief__text-sm {
    font-size: 20px;
    line-height: 130%;
}

.chief__text-sm_title {
    font-family: 'Mulish SemiBold';
    color: #0C131D;
    margin-bottom: 0;
}

.chief__text-sm_text {
    font-family: 'Mulish Light';
    color: #6E7582;
    margin-top: 6px;
}


/* ====================================================================================================== 
--STRUCTURE-- 
====================================================================================================== */

.comp-structure {
    margin-top: 216px;
}

.comp-structure__logo_main {
    background: url(../img/structure-logo-1.png) no-repeat center center;
    background-size: cover;
    width: 416px;
    height: 644px;
}

.comp-structure .row {
    margin-top: 56px;
}

.comp-structure__plane {
    display: flex;
    justify-content: space-between;
    padding: 17px 35px 11px 45px;
    border-radius: 12px;
    background: #FFFFFF;
}

.comp-structure__subdivision {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 150%;
    margin-top: 16px;
    color: #0C131D;
}

.comp-structure__amount {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 150%;
    color: #6E7582;
}


/* ====================================================================================================== 
--FOOTER-- 
====================================================================================================== */

.footer {
    margin-top: 112px;
    padding-top: 50px;
    padding-bottom: 65px;
    background: #0C131D;
}

.footer-logo {
    margin-top: 46px;
}

.navbar-footer {
    margin-top: 0;
}

.col-footer-1 {
    flex: 0 0 auto;
    width: 75%;
}

.col-footer-2 {
    flex: 0 0 auto;
    width: 20%;
}

.footer-contacts {
    color: #FFFFFF;
    margin-top: 47px;
}

.footer-contacts-phone {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 24px;
    line-height: 125%;
    margin: 0;
}

.footer-contacts-email,
.footer-contacts-address {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

.footer-contacts-email {
    margin-top: 8px;
}

.footer-contacts-address {
    margin-top: 24px;
}

.navbar-footer {
    margin-top: -53px;
}

@media (max-width: 1200px) {
    .footer .row {
        justify-content: center;
    }
    .col-footer-1 {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .col-footer-2 {
        flex-basis: 30%;
        text-align: center;
    }
    .navbar-footer {
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }
    .navbar-footer .navbar-nav {
        flex-direction: row;
    }
    .navbar-footer .navbar-nav .nav-link {
        padding-left: 0.7rem!important;
        padding-right: 0.7rem!important;
    }
    .footer-logo {
        margin-top: 28px;
    }
    .footer-contacts {
        margin-top: 41px;
    }
}

@media (max-width: 1200px) {
    .footer {
        margin-top: 110px;
        padding-bottom: 35px;
    }
}

@media (max-width: 1023px) {
    .col-footer-2 {
        flex-basis: 40%;
    }
    .navbar-footer {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 94px;
        padding-bottom: 25px;
    }
    .navbar-footer {
        margin-top: 34px;
    }
    .navbar-footer .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .col-footer-2 {
        flex-basis: 60%;
    }
    .logo-2 {
        width: 224px;
        height: 44px;
        background-size: cover;
    }
    .navbar-footer .navbar-nav .nav-link {
        padding-bottom: 16px;
    }
}

@media (max-width: 479px) {
    .col-footer-2 {
        flex-basis: 80%;
    }
}