body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background: #F7F7F8;
    color: #0C131D;
    font-size: 20px;
}

h2 {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-style: normal;
    font-size: 40px;
    line-height: 125%;
}

.text-center {
    text-align: center;
}

.logo {
    display: block;
    width: 224px;
    height: 44px;
    background: url(../img/logo.svg) no-repeat center left;
}

.logo-2 {
    display: block;
    width: 306px;
    height: 60px;
    background: url(../img/logo-2.svg) no-repeat center left;
}

.pr-10 {
    padding-right: 10px;
}

.p0 {
    padding: 0;
}

.mt0 {
    margin-top: 0;
}

.w100 {
    width: 100%;
}

.relative {
    position: relative;
}

@media (max-width: 1200px) {
    .container {
        max-width: 896px;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 672px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 432px;
    }
    h2 {
        font-size: 32px;
    }
    .banner__wrap-m {
        max-width: 432px;
        margin: 0 auto;
    }
}

@media (max-width: 479px) {
    .container {
        max-width: 328px;
    }
    h2 {
        font-size: 28px;
    }
}

.inner-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1401px) {
    .inner-container {
        max-width: 1320px;
    }
}

@media (max-width: 1400px) {
    .inner-container {
        max-width: 1100px;
    }
}

@media (max-width: 1200px) {
    .inner-container {
        max-width: 898px;
    }
}

@media (max-width: 1023px) {
    .inner-container {
        max-width: 672px;
    }
}

@media (max-width: 767px) {
    .inner-container {
        max-width: 410px;
    }
}

@media (max-width: 479px) {
    .inner-container {
        max-width: 305px;
    }
}


/* ====================================================================================================== 
--BANNER-- 
====================================================================================================== */

.banner {
    margin-top: 164px!important;
    position: relative;
}

.tiles {
    border-radius: 16px;
    background: #FFFFFF;
}

.banner__text {
    font-family: "Montserrat Alternates SemiBold", sans-serif;
    font-size: 56px;
    line-height: 125%;
    margin: 0;
}

.banner__text_home {
    padding-top: 270px;
    padding-bottom: 200px;
}

.banner__text-comp {
    padding-top: 182px;
    padding-bottom: 213px;
}

.banner__text-sm {
    font-family: 'Mulish Light';
    font-size: 20px;
    line-height: 175%;
    color: #6E7582;
}

.banner__text span {
    color: #2F80ED;
}

.cube {
    width: 722px;
    height: 722px;
    position: absolute;
    top: -85px;
    left: -28px;
}

.rings {
    background: url(../img/rings.png) no-repeat center center;
    background-size: contain;
    width: 524px;
    height: 610px;
    position: absolute;
    top: 0;
    left: 116px;
}

.banner__col-text_services-p {
    padding-right: 110px;
}

.banner__text-services {
    padding-top: 83px;
    padding-bottom: 112px;
}


/* for text animation */

.word {
    position: absolute;
    top: 200px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.banner__col {
    flex: 0 0 auto;
    width: 50%;
}

.banner__col-text,
.banner__col-text-serv {
    flex: 0 0 auto;
    width: 60%;
}

.banner__col-img {
    flex: 0 0 auto;
    width: 40%;
}

.banner__col-img-top {
    display: none;
}

.rings-top {
    display: none;
}

@media (min-width: 1601px) {
    .tiles {
        width: 1547px;
    }
}

@media (max-width: 1600px) {
    .tiles {
        width: 1400px;
    }
    .rings {
        left: 43px;
    }
}

@media (max-width: 1440px) {
    .tiles {
        width: 1380px;
    }
    .cube {
        width: 650px;
        height: 650px;
    }
    .banner {
        margin-top: 150px!important;
    }
    .banner__text {
        font-size: 50px;
    }
    .banner__text_home {
        padding-top: 207px;
        padding-bottom: 190px;
    }
    .word {
        position: absolute;
        top: 157px;
        opacity: 0;
    }
    .rings {
        width: 524px;
        height: 595px;
        left: 38px;
    }
    .banner__col-text_services-p {
        padding-right: 180px;
    }
    .banner__text-services {
        padding-bottom: 120px;
    }
}

@media (max-width: 1400px) {
    .tiles {
        width: 1280px;
    }
    .cube {
        width: 630px;
        height: 630px;
    }
    .rings {
        width: 510px;
        height: 595px;
        left: 18px;
    }
    .banner__col-text_services-p {
        padding-right: 120px;
    }
}

@media (max-width: 1300px) {
    .tiles {
        width: 1180px;
    }
    .rings {
        left: -31px;
    }
}

@media (max-width: 1200px) {
    .tiles {
        width: 1024px;
    }
    .cube {
        width: 528px;
        height: 528px;
        top: -32px;
        left: -16px;
    }
    .banner__col-text,
    .banner__col-text-serv {
        flex: 0 0 auto;
        width: 50%;
    }
    .rings {
        width: 398px;
        height: 464px;
        top: 0;
        left: 116px;
    }
    .banner__text-comp {
        padding-top: 104px;
        padding-bottom: 135px;
    }
    .banner {
        margin-top: 114px!important;
    }
    .banner__text {
        font-size: 40px;
    }
    .banner__text_home {
        padding-top: 207px;
        padding-bottom: 157px;
    }
    .word {
        top: 157px;
    }
    .banner__col-text_services-p {
        padding-right: 0;
    }
    .banner__text-services {
        padding-top: 41px;
        padding-bottom: 68px;
    }
}

@media (max-width: 1023px) {
    .tiles {
        width: 768px;
    }
    .banner .tiles {
        height: 336px;
    }
    .cube {
        width: 368px;
        height: 368px;
        top: -16px;
        left: 15px;
    }
    .banner {
        margin-top: 106px!important;
    }
    .banner__text {
        font-size: 32px;
    }
    .banner__text_home {
        padding-top: 150px;
        padding-bottom: 157px;
    }
    .word {
        top: 108px;
    }
    .rings {
        width: 288px;
        height: 336px;
        left: 97px;
    }
    .rings-services {
        left: 25px;
    }
    .banner__text-comp {
        padding-top: 55px;
        padding-bottom: 70px;
    }
    .banner__col-text-serv {
        width: 60%;
    }
    .banner__text-services {
        padding-top: 22px;
    }
    .consult-btn {
        margin-top: 46px;
    }
}

@media (max-width: 767px) {
    .tiles {
        max-width: 432px;
    }
    .banner .tiles {
        height: 473px;
    }
    .cube {
        width: 305px;
        height: 305px;
        top: -477px;
        left: 63px;
    }
    .banner__col {
        flex-basis: 100%;
    }
    .banner__text {
        text-align: center;
    }
    .banner__text_home {
        padding-top: 345px;
        padding-bottom: 20px;
    }
    .word {
        top: 305px;
    }
    .banner {
        margin-top: 98px!important;
    }
    .logo {
        width: 163px;
        height: 32px;
        background-size: contain;
    }
    .banner__col-text,
    .banner__col-text-serv {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .banner__text-sm {
        text-align: center;
    }
    .banner__col-img {
        display: none;
    }
    .banner__col-img-top {
        display: block;
        width: 100%;
        height: 138px;
    }
    .rings-top {
        display: block;
        background: url(../img/rings-top.png) no-repeat center center;
        background-size: contain;
        height: 180px;
        width: 432px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .banner__text-comp {
        padding-bottom: 45px;
    }
    .banner__tiles-rings {
        height: 548px!important;
    }
    .banner__text-services {
        padding-top: 55px;
    }
    .consult-btn {
        margin-left: 88px;
    }
}

@media (max-width: 479px) {
    .banner {
        margin-top: 90px!important;
    }
    .tiles {
        max-width: 328px;
    }
    .cube {
        top: -448px;
        left: 12px;
    }
    .banner__text {
        font-size: 24px;
    }
    .banner__text_home {
        padding-top: 334px;
    }
    .banner .tiles {
        height: 442px;
    }
    .word {
        top: 304px;
    }
    .rings-top {
        height: 137px;
        width: 328px;
    }
    .banner__tiles-rings {
        height: 365px!important;
    }
    .banner__text-comp {
        padding-top: 25px;
    }
    .banner__text-sm {
        font-size: 16px;
        line-height: 160%;
    }
    .banner__text-services {
        padding-top: 13px;
    }
    .consult-btn {
        margin-left: 37px;
    }
    .banner__tiles-rings-serv {
        height: 460px!important;
    }
}


/* ====================================================================================================== 
--STATISTIC-- 
====================================================================================================== */

.statistic {
    margin-top: 80px!important;
}

.statistic__title {
    font-family: "Mulish Bold", sans-serif;
    font-size: 24px;
    line-height: 170%;
    margin-top: 0;
    margin-bottom: 0;
}

.statistic__value {
    font-family: 'Montserrat Alternates Bold', sans-serif;
    font-size: 40px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 65px;
    background: radial-gradient(76.96% 76.96% at 0% 0%, #56CCF2 0%, #2F80ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.statistic .row {
    justify-content: space-between;
}

.statistic__wrap {
    padding-top: 80px;
    padding-bottom: 15px;
}

.statistic__main {
    display: block;
}

@media (min-width: 1201px) {
    .statistic__col {
        flex: 0 0 20%;
    }
}

@media (max-width: 1400px) {
    .statistic__col {
        flex: 0 0 25%;
    }
}

@media (max-width: 1200px) {
    .statistic__col {
        flex: 0 0 50%;
    }
    .statistic {
        margin-top: 56px!important;
    }
    .statistic__wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1023px) {
    .statistic {
        margin-top: 40px!important;
    }
    .statistic .tiles {
        height: 406px;
    }
    .statistic__wrap {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .statistic {
        margin-top: 24px!important;
    }
    .statistic__main {
        display: none;
    }
}


/* ====================================================================================================== 
--ABOUT-- 
====================================================================================================== */

.about-mt-home,
.about-mt-comp {
    margin-top: 216px;
}

.about h2 {
    margin-top: 0;
}

.about p {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

.about__content_home {
    margin-top: 117px;
    padding-right: 14px;
}

.about .btn {
    margin-top: 28px;
}

.about img {
    display: block;
}

.about__col {
    flex: 0 0 50%;
}

.about__col-title {
    flex: 0 0 41.7%;
}

.about__col-content {
    flex: 0 0 57%;
}

.nd-logo {
    background: url(../img/nd-logo.png) no-repeat center center;
    width: 416px;
    height: 416px;
}

.about__content_career {
    margin-top: 44px;
    padding-right: 26px;
}

@media (max-width: 1400px) {
    .about__content_home {
        margin-top: 55px;
    }
}

@media (max-width: 1200px) {
    .about img {
        display: none;
    }
    .about__col {
        flex: 0 0 100%;
    }
    .about-mt-home,
    .about-mt-comp {
        margin-top: 112px;
    }
    .about__content_home {
        margin-top: 0;
    }
    .about .container {
        max-width: 894px;
    }
    .about__col-title {
        flex: 0 0 100%;
    }
    .about__col-content {
        flex: 0 0 100%;
    }
}

@media (max-width: 1023px) {
    .about .container {
        width: 670px;
    }
}

@media (max-width: 767px) {
    .about .container {
        max-width: 428px;
    }
    .about-mt-home {
        margin-top: 81px;
    }
    .about h2 {
        font-size: 32px;
    }
    .about p {
        font-size: 18px;
    }
    .about .btn {
        margin-top: 31px;
    }
    .about-mt-comp {
        margin-top: 103px;
    }
}

@media (max-width: 479px) {
    .about .container {
        max-width: 328px;
    }
    .about p {
        font-size: 16px;
    }
    .about h2 {
        font-size: 28px;
    }
    .about-mt-comp {
        margin-top: 113px;
    }
}


/* ====================================================================================================== 
--ACTIVITY-- 
====================================================================================================== */

.activity-mt-comp {
    margin-top: 340px!important;
}

.activity-services {
    margin-top: 137px!important;
}

.activity-services .activity-main {
    display: flex;
    flex-wrap: wrap;
}

.activity-mt-home {
    margin-top: 216px!important;
}

.activity h2 {
    padding-top: 80px;
    padding-bottom: 54px;
    margin: 0;
}

.activity-text {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.activity-item {
    display: flex;
}

.activity-icon {
    width: 160px;
    height: 70px;
    margin-top: 10px;
}

.activity-icon-serv {
    width: 112px;
}

.activity .row {
    padding-bottom: 60px;
}

.i-dev {
    background: url(../img/icons/dev.svg) no-repeat;
    margin-right: 28px;
}

.i-gz {
    background: url(../img/icons/gz.svg) no-repeat;
    margin-right: 20px;
}

.i-arrow {
    background: url(../img/icons/arrow.svg) no-repeat;
    margin-right: 33px;
}

.i-doughnut {
    background: url(../img/icons/doughnut.svg) no-repeat;
    width: 105px;
    margin-right: 33px;
}

.i-d-serv {
    width: 74px;
}

.i-quad {
    background: url(../img/icons/quad.svg) no-repeat;
    width: 100px;
    margin-right: 33px;
}

.i-q-serv {
    width: 72px;
}

.i-bar {
    background: url(../img/icons/bar.svg) no-repeat;
    width: 48px;
    margin-right: 33px;
}

.i-map {
    background: url(../img/icons/map.svg) no-repeat;
    width: 50px;
    margin-right: 33px;
}

.tech {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
}

.tech-text {
    font-family: 'Montserrat Alternates ExtraBold', sans-serif;
    font-size: 56px;
    line-height: 125%;
    letter-spacing: 0.05em;
    word-spacing: 40px;
    color: transparent;
    -webkit-text-stroke: 1px #15499F;
}

.tech-bottom {
    display: none;
}

.tech-bottom-m {
    display: none;
}

.activity-main {
    display: flex;
}

.ml-serv {
    margin-left: 104px;
}

@media (max-width: 1400px) {
    .activity-icon {
        width: 196px;
    }
    .activity-icon-serv {
        width: 140px;
    }
    .i-doughnut {
        margin-right: 8px;
    }
    .i-quad {
        margin-right: 6px;
    }
    .i-bar {
        width: 80px;
        margin-right: 0;
    }
    .i-map {
        width: 80px;
        margin-right: 16px;
    }
    .ml-serv {
        margin-left: 45px;
    }
    .col-activity-services {
        flex: 0 0 auto;
        width: 54%;
    }
    .activity-services .i-bar {
        margin-right: 9px;
    }
    .activity-services .i-map {
        margin-right: 9px;
    }
}

@media (min-width: 1201px) {
    .col-activity {
        width: 34%;
        margin-right: 74px;
    }
    .activity__title {
        width: 50%;
    }
    .mt-i-map {
        margin-top: 1rem;
    }
    .col-activity-services {
        flex: 0 0 46%;
    }
}

@media (max-width: 1200px) {
    .activity-mt-home {
        margin-top: 110px!important;
    }
    .col-activity {
        width: 75%;
        margin-right: 52px;
    }
    .activity__title {
        width: 75%;
    }
    .activity-icon {
        width: 103px;
    }
    .activity-icon-serv {
        width: 55px;
    }
    .activity-text {
        margin-top: 18px;
        margin-bottom: 15px;
    }
    .i-bar {
        width: 80px;
        margin-right: 0;
    }
    .i-map {
        width: 80px;
        margin-right: 0;
    }
    .mt-i-map {
        margin-top: 0.5rem;
    }
    .mt-act-2 {
        padding-top: 17px;
    }
    .activity .row {
        padding-bottom: 56px;
    }
    .activity-main {
        display: block;
    }
    .activity-mt-comp {
        margin-top: 235px!important;
    }
    .activity-services {
        margin-top: 33px!important;
    }
    .ml-serv {
        margin-left: 0;
    }
    .activity-icon-serv {
        width: 71px;
    }
    .activity-services .row {
        padding-bottom: 48px;
    }
    .col-activity-services {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .activity__title {
        width: 100%;
    }
    .activity h2 {
        padding-bottom: 45px;
    }
    .col-activity {
        width: 100%;
    }
    .tech {
        display: none;
    }
    .tech-bottom {
        display: block;
        margin-top: 65px;
    }
    .tech-text {
        word-spacing: 3px;
    }
    .activity-mt-comp {
        margin-top: 276px!important;
    }
    .activity-icon-serv {
        width: 100px;
    }
    .activity-services .i-bar,
    .activity-services .i-map {
        width: 72px;
    }
}

@media (max-width: 767px) {
    .activity-mt-home {
        margin-top: 94px!important;
    }
    .activity h2 {
        font-size: 32px;
        text-align: center;
        padding-top: 48px;
    }
    .activity-services h2 {
        font-size: 31px;
        padding-bottom: 40px;
        text-align: start;
    }
    .activity-services {
        margin-top: 85px!important;
    }
    .activity-services .activity-text {
        font-size: 18px;
        flex: 0 0 83%;
    }
    .activity-icon-serv {
        flex: 0 0 18%;
        margin-right: 0;
    }
    .activity-services .i-map,
    .activity-services .i-bar {
        margin-right: 0;
    }
    .activity-services .inner-container {
        max-width: 430px;
        margin: 0 auto;
    }
    .activity-main {
        display: none;
    }
    .activity .row {
        padding-bottom: 24px;
    }
    .tech-bottom {
        display: none;
    }
    .tech-bottom-m {
        display: block;
    }
    .activity-mt-comp {
        margin-top: 295px!important;
    }
}

@media (max-width: 479px) {
    .activity-services .inner-container {
        max-width: 325px;
    }
    .tech-text {
        font-size: 45px;
    }
    .activity-mt-comp {
        margin-top: 342px!important;
    }
    .activity__title h2 {
        font-size: 28px;
        line-height: 125%;
    }
    .activity-services {
        margin-top: 48px!important;
    }
    .activity-services h2 {
        padding-bottom: 30px;
    }
    .activity-services .activity-text {
        font-size: 16px;
        flex: 0 0 73%;
    }
    .activity-icon-serv {
        flex: 0 0 21%;
    }
}


/* ====================================================================================================== 
--PROJECTS-- 
====================================================================================================== */

.projects {
    margin-top: 219px;
}

.projects-mt-pr {
    margin-top: 163px;
}

.projects-mt-pr .row {
    margin-top: 32px;
}

.projects .row {
    margin-top: 54px;
}

.tile-sm {
    margin-bottom: 29px;
    padding: 17px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.projects-content {
    padding: 20px 20px 20px 23px;
}

.projects-content-title {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 24px;
    line-height: 125%;
    margin-top: 7px;
    margin-bottom: 0;
}

.projects-content-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
    margin-top: 7px;
    margin-bottom: 3px;
}

.projects-content.empty-p {
    padding: 0px 20px 17px 23px;
}

.projects-bottom-fade {
    position: absolute;
    bottom: 0;
    height: 205px;
    background: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, rgba(247, 247, 248, 0.8) 34.64%, #F7F7F8 98.36%);
}

.last-project {
    display: block;
}

.projects-bottom-fade {
    display: block;
}

@media (max-width: 1200px) {
    .projects {
        margin-top: 112px;
    }
    .projects .row {
        margin-top: 40px;
    }
    .tile-sm {
        margin-bottom: 31px;
    }
}

@media (max-width: 1023px) {
    .last-project {
        display: none;
    }
    .projects-content-title {
        margin-top: 0;
    }
    .projects-content {
        padding: 20px 20px 14px 23px;
    }
    .projects-content-text {
        font-size: 18px;
    }
    .projects-bottom-fade {
        display: none;
    }
}

@media (max-width: 767px) {
    .projects {
        margin-top: 105px;
    }
    .projects h2 {
        font-size: 32px;
    }
    .projects .row {
        margin-top: 33px;
    }
    .projects-content {
        padding: 20px 20px 15px 23px;
    }
}

@media (max-width: 479px) {
    .projects {
        margin-top: 65px;
    }
    .projects-content-text {
        font-size: 16px;
    }
    .tile-sm {
        margin-bottom: 16px;
    }
}


/* ====================================================================================================== 
--EMPLOYEES-- 
====================================================================================================== */

.employees {
    margin-top: 219px;
}

.tiles-emps {
    position: relative;
    width: 870px;
    border-radius: 16px;
    padding: 50px 64px 50px 48px;
    height: 262px;
    background-color: #FFFFFF;
    margin-left: 34px;
}

.emp {
    position: absolute;
    top: 27px;
    left: -116px;
    background: url(../img/employee-1.png) no-repeat;
    background-size: contain;
    width: 262px;
    height: 283px;
}

.emp-text {
    margin-left: 158px;
}

.emp-text-sm {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Mulish Light', sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #6E7582;
}

.emp-text-name {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 28px;
    line-height: 125%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.emp-text-description {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

@media (max-width: 1200px) {
    .tiles-emps {
        width: 668px;
        height: 227px;
        margin-left: 0;
        margin-top: 98px;
        padding: 92px 32px 10px 32px;
    }
    .employees {
        margin-top: 114px;
    }
    .emp-text-description {
        font-size: 18px;
    }
    .emp-text-name {
        font-size: 24px;
    }
    .emp {
        top: -87px;
        left: 35px;
        width: 153px;
        height: 164px;
    }
    .emp-text {
        margin-left: 0;
    }
}

@media (max-width: 1023px) {
    .tiles-emps {
        width: 531px;
        padding: 92px 32px 40px 32px;
    }
}

@media (max-width: 767px) {
    .employees {
        margin-top: 96px;
    }
    .tiles-emps {
        width: 368px;
        height: 344px;
        margin-top: 70px;
        padding: 92px 32px 40px 24px;
    }
    .emp-text-name {
        font-size: 20px;
    }
    .emp {
        top: -38px;
        left: 24px;
        width: 107px;
        height: 115px;
    }
}

@media (max-width: 479px) {
    .tiles-emps {
        width: 275px;
        height: 375px;
    }
    .emp-text-description {
        font-size: 16px;
    }
}


/* ======================================================================================================
--LICENSES--
====================================================================================================== */

.licenses-mt-comp {
    margin-top: 200px;
}

.licenses-mt-home {
    margin-top: 636px;
}

.licenses-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 175%;
}

.tiles-docs {
    margin-left: 175px;
    width: 552px;
    height: 355px;
    background: #FFFFFF;
    border-radius: 16px;
}

.tiles-docs__item {
    padding: 40px;
}

.tiles-docs__pdf {
    background: url(../img/icons/pdf.svg) no-repeat center center;
    background-size: contain;
    width: 48px;
    height: 48px;
}

.tiles-docs__text {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.tiles-docs__links {
    font-family: 'Mulish SemiBold', sans-serif;
    font-size: 18px;
    line-height: 130%;
    margin-top: 95px;
}

.tiles-docs__links a {
    margin-right: 42px;
    text-decoration: none;
    color: #2F80ED;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tiles-docs__links a:hover {
    color: #56CCF2;
}

@media (min-width: 1201px) {
    .licenses .col-lg-4 {
        width: 37%;
        margin-top: 10px;
    }
    .licenses h2 {
        margin-top: 31px;
    }
}

@media (max-width: 1399px) {
    .tiles-docs {
        margin-left: 76px;
    }
}

@media (max-width: 1200px) {
    .tiles-docs {
        margin-left: 0;
        margin-top: 18px;
        width: 808px;
        height: 355px;
    }
    .licenses-mt-home {
        margin-top: 573px;
    }
    .licenses .col-lg-4 {
        width: 100%;
        margin-top: 0;
    }
    .licenses h2 {
        margin-top: 0;
    }
    .tiles-docs__links {
        margin-top: 125px;
    }
    .licenses .col-lg-6 {
        width: 85%;
    }
    .licenses-mt-comp {
        margin-top: 97px;
    }
}

@media (max-width: 1023px) {
    .tiles-docs {
        width: 584px;
    }
    .licenses-mt-home {
        margin-top: 604px;
    }
    .tiles-docs__text {
        font-size: 18px;
    }
    .tiles-docs__item {
        padding: 32px;
    }
    .tiles-docs__links {
        margin-top: 150px;
    }
    .licenses-mt-comp {
        margin-top: 105px;
    }
}

@media (max-width: 767px) {
    .licenses-mt-home {
        margin-top: 670px;
    }
    .licenses-text {
        font-size: 18px;
    }
    .tiles-docs {
        width: 432px;
        margin-top: 12px;
        height: 300px;
    }
    .tiles-docs__links {
        margin-top: 68px;
    }
    .licenses-mt-comp {
        margin-top: 88px;
    }
    .licenses h2 {
        margin-bottom: 36px;
    }
}

@media (max-width: 479px) {
    .tiles-docs {
        width: 324px;
        height: 270px;
    }
    .licenses-mt-home {
        margin-top: 660px;
    }
    .tiles-docs__text {
        font-size: 16px;
    }
    .tiles-docs__links {
        margin-top: 30px;
    }
    .tiles-docs__links a {
        margin-right: 30px;
    }
    .licenses-text {
        font-size: 16px;
        line-height: 160%;
    }
    .licenses h2 {
        margin-bottom: 27px;
    }
}


/* ====================================================================================================== 
--PARTNERS-- 
====================================================================================================== */

.partners {
    margin-top: 216px;
}

.partners-list {
    display: flex;
    margin: 0;
    padding-left: 0;
}

.partners-list-item {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 133px;
    padding: 48px 32px 48px 32px;
    margin-right: 28px;
    margin-top: 0;
    background: #FFFFFF;
    border-radius: 16px;
}

@media (min-width: 1201px) {
    .partners-img {
        width: 283px;
        height: 213px;
        background-size: contain;
    }
}

.partners-list-item-1 {
    background: url(../img/partner-1.png) center center no-repeat;
}

.partners-list-item-2 {
    background: url(../img/partner-2.png) center center no-repeat;
}

.partners-list-item-3 {
    background: url(../img/partner-3.png) center center no-repeat;
}

.partners-list-item-4 {
    background: url(../img/partner-4.png) center center no-repeat;
}

.partners-list-item-5 {
    background: url(../img/partner-5.png) center center no-repeat;
}

.partners-list-item-6 {
    background: url(../img/partner-6.png) center center no-repeat;
}

.partners-list-item-7 {
    background: url(../img/partner-7.png) center center no-repeat;
}

.partners-list-item-8 {
    background: url(../img/partner-8.png) center center no-repeat;
}

.partners-list-item-9 {
    background: url(../img/partner-9.png) center center no-repeat;
}

.partners-list-item-10 {
    background: url(../img/partner-10.png) center center no-repeat;
}

@media (max-width: 1200px) {
    .partners {
        margin-top: 112px;
    }
    .partners-img {
        width: 200px;
        height: 150px;
        background-size: contain;
    }
    .partners-list-item {
        width: 222px;
        height: 105px;
        padding: 25px 60px 25px 60px;
    }
}

@media (max-width: 767px) {
    .partners {
        margin-top: 125px;
    }
    .partners h2 {
        margin-bottom: 0;
    }
}

@media (max-width: 479px) {
    .partners {
        margin-top: 96px;
    }
}


/* ======================================================================================================
--CAREER-- 
====================================================================================================== */

.career {
    margin-top: 113px;
}

.col-career-img {
    flex: 2;
}

.col-career-text {
    flex: 1;
}

.career-img {
    background: url(../img/career.png) center center no-repeat;
    background-size: contain;
    width: 752px;
    height: 752px;
}

.career-description {
    margin-left: 26px;
    margin-top: 163px;
}

.career-text {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 150%;
}

.career .btn {
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .career {
        margin-top: 103px;
    }
    .career .row {
        justify-content: center;
    }
    .career-img {
        width: 664px;
        height: 664px;
    }
    .col-career-img {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .col-career-text {
        text-align: center;
        flex: 0 0 44%;
    }
    .career-description {
        margin-left: 0;
        margin-top: -32px;
    }
}

@media (max-width: 1023px) {
    .career-img {
        width: 504px;
        height: 504px;
    }
    .col-career-text {
        flex: 0 0 60%;
    }
}

@media (max-width: 767px) {
    .career {
        margin-top: -34px;
    }
    .col-career-text {
        flex: 0 0 90%;
        font-size: 18px;
    }
    .career-img {
        height: 452px;
    }
    .career .btn {
        margin-top: 54px;
    }
    .career-text {
        font-size: 18px;
    }
}


/* ====================================================================================================== 
--CHIEF-- 
====================================================================================================== */

.chief-mt {
    margin-top: 216px;
}

.chief__col-img {
    flex: 0 0 auto;
    width: 34%;
}

.chief__col-text {
    flex: 0 0 auto;
    width: 60%;
}

.chief__img {
    background: url(../img/Chief.png) no-repeat center center;
    background-size: contain;
    width: 341px;
    height: 368px;
    margin-left: 93px;
}

.chief__text {
    margin-left: 112px;
}

.chief__text h2 {
    margin-bottom: 46px;
}

.chief__text-sm {
    font-size: 20px;
    line-height: 130%;
}

.chief__text-sm_title {
    font-family: 'Mulish SemiBold';
    color: #0C131D;
    margin-bottom: 0;
}

.chief__text-sm_text {
    font-family: 'Mulish Light';
    color: #6E7582;
    margin-top: 6px;
}

@media (max-width: 1200px) {
    .chief__img {
        margin-left: 0;
    }
    .chief__text h2 {
        font-size: 32px;
    }
    .chief__col-text {
        width: 65%;
    }
    .chief-mt {
        margin-top: 112px;
    }
    .chief__text {
        margin-left: 75px;
        margin-top: 51px;
    }
}

@media (max-width: 1023px) {
    .chief__col-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .chief__col-text {
        width: 100%;
        text-align: center;
    }
    .chief__text {
        margin-left: 0;
        margin-top: 35px;
    }
}

@media (max-width: 767px) {
    .chief__img {
        width: 224px;
        height: 221px;
    }
    .chief-mt {
        margin-top: 105px;
    }
    .chief__text h2 {
        font-size: 24px;
        line-height: 125%;
    }
    .chief__text {
        margin-top: 25px;
    }
}

@media (max-width: 479px) {
    .chief__text h2 {
        font-size: 20px;
    }
}


/* ====================================================================================================== 
--STRUCTURE-- 
====================================================================================================== */

.comp-structure {
    margin-top: 216px;
}

.comp-structure__col-planes {
    flex: 0 0 auto;
    width: 66.6%;
}

.comp-structure__col-img {
    flex: 0 0 auto;
    width: 33.3%;
}

.comp-structure__logo_main {
    background: url(../img/structure-logo-1.png) no-repeat center center;
    background-size: contain;
    width: 416px;
    height: 644px;
}

.comp-structure .row {
    margin-top: 56px;
}

.comp-structure__plane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 35px 11px 45px;
    border-radius: 12px;
    margin-bottom: 16px;
    background: #FFFFFF;
}

.comp-structure__subdivision {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 150%;
    margin-top: 16px;
    color: #0C131D;
}

.comp-structure__amount {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 150%;
    color: #6E7582;
}

.comp-structure__point {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: radial-gradient(76.96% 76.96% at 0% 0%, #51D6ED 0%, #428FE6 100%);
    margin-right: 38px;
}

.comp-structure__logo_top {
    display: none;
    margin-top: 40px;
    background: url(../img/structure-logo-2.png) no-repeat center center;
    background-size: contain;
    width: 896px;
    height: 255px;
}

@media (max-width: 1300px) {
    .comp-structure__col-planes {
        width: 62%;
    }
}

@media (max-width: 1200px) {
    .comp-structure__col-planes {
        width: 100%;
    }
    .comp-structure__col-img {
        display: none;
    }
    .comp-structure__logo_top {
        display: block;
    }
    .comp-structure .row {
        margin-top: 16px;
    }
    .comp-structure {
        margin-top: 112px;
    }
}

@media (max-width: 1023px) {
    .comp-structure {
        margin-top: 95px;
    }
    .comp-structure__logo_top {
        margin-top: 48px;
        background: url(../img/structure-logo-3.png) no-repeat center center;
        background-size: contain;
        width: 672px;
    }
    .comp-structure__plane {
        flex-direction: column;
        margin-bottom: 8px;
        padding: 25px 35px 11px 45px;
    }
    .comp-structure__amount {
        margin-top: 3px;
        margin-bottom: 13px;
        margin-left: 33px;
    }
    .comp-structure__subdivision {
        margin-top: 0;
        margin-bottom: 0;
    }
    .comp-structure__point {
        margin-right: 23px;
    }
    .comp-structure .row {
        margin-top: 8px;
    }
}

@media (max-width: 767px) {
    .comp-structure__logo_top {
        margin-top: 31px;
        background: url(../img/structure-logo-4.png) no-repeat center center;
        background-size: contain;
        width: 432px;
        height: 146px;
    }
    .comp-structure {
        margin-top: 83px;
    }
}

@media (max-width: 479px) {
    .comp-structure__logo_top {
        margin-top: 31px;
        background: url(../img/structure-logo-5.png) no-repeat center center;
        background-size: contain;
        width: 328px;
        height: 108px;
    }
    .comp-structure__plane {
        flex-direction: column;
        margin-bottom: 8px;
        padding: 17px 35px 3px 26px;
    }
}


/* ====================================================================================================== 
--COMPANY FEATURES-- 
====================================================================================================== */

.comp-features {
    margin-top: 54px;
}

.slider-back {
    background: url(../img/comp-slider-back.png) no-repeat center center;
    background-size: contain;
    width: 1792px;
    height: 282px;
    margin: 0 auto;
}

.tiles-features {
    position: relative;
    width: 416px;
    height: 150px;
    border-radius: 16px;
    padding: 40px 40px 67px 40px;
    background-color: #FFFFFF;
    margin-right: 18px;
}

.tiles-features__title {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 24px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 15px;
}

.tiles-features__description {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 150%;
}

@media (max-width: 1800px) {
    .slider-back {
        width: 1400px;
        height: 282px;
    }
}

@media (max-width: 1440px) {
    .slider-back {
        width: 1180px;
        height: 282px;
    }
}

@media (max-width: 1200px) {
    .slider-back {
        background: url(../img/comp-slider-back-1024.png) no-repeat center center;
        width: 992px;
        height: 282px;
    }
}

@media (max-width: 1023px) {
    .slider-back {
        background-size: contain;
        width: 768px;
    }
}

@media (max-width: 767px) {
    .slider-back {
        background-size: contain;
        background: url(../img/comp-slider-back-480.png) no-repeat center center;
        width: 464px;
        height: 218px;
    }
    .comp-features {
        margin-top: 46px;
    }
    .swiper-scroll .swiper {
        top: -6px;
    }
    .tiles-features {
        width: 230px;
        height: 200px;
        padding: 25px 20px 67px 20px;
    }
    .tiles-features__title {
        font-size: 20px;
    }
    .tiles-features__description {
        font-size: 16px;
        line-height: 160%;
    }
}

@media (max-width: 479px) {
    .slider-back {
        background: url(../img/comp-slider-back-360.png) no-repeat center center;
        width: 344px;
        height: 219px;
    }
}


/* ====================================================================================================== 
--STACK-- 
====================================================================================================== */

.stack {
    margin-top: 137px;
}

.stack_description {
    font-family: 'Mulish';
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 46px;
}

.stack__tiles {
    background: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
}

.stack__content {
    padding: 64px 64px 30px 64px;
}

.stack__title {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 28px;
    line-height: 125%;
    margin-top: 0;
}

.stack__tech {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.stack__item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    background: #FAFAFB;
    border: 1px solid #EAEBF0;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    margin-bottom: 32px;
}

.stack__item:not(:first-child) {
    margin-left: 32px;
}

.tech-img {
    width: 208px;
    height: 145px;
}

.tech-img-cs {
    background: url(../img/tech/c-sharp.png) no-repeat center center;
    background-size: contain;
}

.tech-img-net {
    background: url(../img/tech/net.png) no-repeat center center;
    background-size: contain;
}

.tech-img-html-css {
    background: url(../img/tech/html-css.png) no-repeat center center;
    background-size: contain;
}

.tech-img-js {
    background: url(../img/tech/js.png) no-repeat center center;
    background-size: contain;
    mix-blend-mode: darken;
}

.tech-img-bootstrap {
    background: url(../img/tech/bootstrap.png) no-repeat center center;
    background-size: contain;
}

.tech-img-react {
    background: url(../img/tech/react.png) no-repeat center center;
    background-size: contain;
}

.tech-img-mysql {
    background: url(../img/tech/mysql.png) no-repeat center center;
    background-size: contain;
}

.tech-img-sql-server {
    background: url(../img/tech/sql-server.png) no-repeat center center;
    background-size: contain;
}

.tech-img-postgresql {
    background: url(../img/tech/postgresql.png) no-repeat center center;
    background-size: contain;
}

.tech-img-mongodb {
    background: url(../img/tech/mongodb.png) no-repeat center center;
    background-size: contain;
}

.tech-img-windows {
    background: url(../img/tech/windows.png) no-repeat center center;
    background-size: contain;
}

.tech-img-centos {
    background: url(../img/tech/centos.png) no-repeat center center;
    background-size: contain;
}

.tech-img-ubuntu {
    background: url(../img/tech/ubuntu.png) no-repeat center center;
    background-size: contain;
}

@media (max-width: 1399px) {
    .tech-img {
        width: 163px;
        height: 110px;
    }
}

@media (max-width: 1200px) {
    .stack {
        margin-top: 0;
    }
    .stack h2 {
        margin-bottom: 24px;
    }
    .tech-img {
        width: 128px;
        height: 91px;
    }
    .stack__item {
        padding: 24px;
        margin-bottom: 16px;
    }
    .stack__content {
        padding: 48px 48px 30px 48px;
    }
    .stack_description {
        margin-bottom: 40px;
    }
    .stack__item:not(:first-child) {
        margin-left: 28px;
    }
    .stack__tech {
        margin-top: 40px;
    }
}

@media (max-width: 1023px) {
    .stack h2 {
        margin-top: 41px;
    }
    .stack__title {
        font-size: 24px;
    }
    .stack__tech {
        margin-top: 30px;
    }
    .stack__content {
        padding: 41px 41px 15px 41px;
    }
    .stack__item {
        width: 47.96%;
        margin-bottom: 24px;
    }
    .stack__item:not(:first-child) {
        margin-left: 0;
    }
    .stack__item:nth-child(2),
    .stack__item:nth-child(4) {
        margin-left: 12px;
    }
    .stack__item:nth-child(1),
    .stack__item:nth-child(3) {
        margin-right: 12px;
    }
}

@media (max-width: 767px) {
    .stack__item {
        width: 47.71%;
        margin-bottom: 16px;
    }
    .stack__item:nth-child(2),
    .stack__item:nth-child(4) {
        margin-left: 8px;
    }
    .stack__item:nth-child(1),
    .stack__item:nth-child(3) {
        margin-right: 8px;
    }
    .stack__tech {
        margin-top: 24px;
    }
    .stack_description {
        margin-bottom: 32px;
    }
    .stack__content {
        padding: 33px 30px 13px 30px;
    }
}

@media (max-width: 479px) {
    .stack h2 {
        margin-top: 53px;
    }
    .stack__title {
        font-size: 20px;
        margin-bottom: 0;
    }
    .stack__content {
        padding: 24px 23px 5px 23px;
    }
    .tech-img {
        width: 84px;
        height: 64px;
    }
    .stack__item:nth-child(2),
    .stack__item:nth-child(4) {
        margin-left: 6px;
    }
    .stack__item:nth-child(1),
    .stack__item:nth-child(3) {
        margin-right: 6px;
    }
    .stack__tech {
        margin-top: 16px;
    }
    .stack__tiles {
        margin-bottom: 17px;
    }
}


/* ====================================================================================================== 
--FEEDBACK-- 
====================================================================================================== */

.feedback__col-bottom {
    flex: 0 0 auto;
    width: 50%;
}

.feedback__col-top-fields {
    flex: 0 0 auto;
    width: 33.3%;
}

input {
    width: 80%;
}

#file-upload {
    width: 93.7%;
}

textarea {
    width: 93.7%;
    min-height: 113px;
    resize: vertical;
}

.feedback__col-text {
    flex: 0 0 auto;
    width: 26%;
}

.feedback__col-form {
    flex: 0 0 auto;
    width: 74%;
}

.feedback-mt {
    margin-top: 185px;
}

.feedback-mt-career {
    margin-top: 570px;
}

.feedback__title {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 23px;
}

.feedback__text {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 175%;
}

.feedback__form {
    margin-left: 100px;
    margin-top: 30px;
}

.agreement-text {
    font-family: 'Mulish';
    font-size: 12px;
    line-height: 135%;
}

@media (max-width: 1399px) {
    .feedback__col-text {
        width: 100%;
        margin-bottom: 0;
    }
    .feedback__col-form {
        width: 100%;
    }
    .feedback__form {
        margin-left: 0;
    }
    #file-upload,
    textarea {
        width: 93%;
    }
    input {
        width: 78%;
    }
    .submit-btn {
        margin-right: 38px;
    }
}

@media (max-width: 1200px) {
    .submit-btn {
        margin-right: 20px;
    }
    .feedback-mt {
        margin-top: 80px;
    }
}

@media (max-width: 1023px) {
    .submit-btn {
        margin-right: 6px;
    }
    .feedback-mt {
        margin-top: 74px;
    }
    .feedback-mt-contacts {
        margin-top: 141px;
    }
}

@media (max-width: 767px) {
    .feedback__col-text {
        margin-bottom: -14px;
    }
    .feedback__col-bottom {
        width: 100%;
    }
    .submit-btn {
        margin-right: 0;
        width: 100%;
    }
    #file-upload,
    textarea,
    input {
        width: 90%;
    }
    .feedback__col-top-fields {
        width: 100%;
    }
    .feedback-mt {
        margin-top: 58px;
    }
    .feedback-mt-contacts {
        margin-top: 154px;
    }
}

@media (max-width: 479px) {
    #file-upload,
    textarea,
    input {
        width: 87%;
    }
    .feedback-mt-contacts {
        margin-top: 241px;
    }
    .feedback__title {
        font-size: 28px;
    }
}


/* ====================================================================================================== 
--CONTACTS-- 
====================================================================================================== */

.contacts-map {
    margin-top: 166px;
}

.contacts-map__img {
    position: relative;
    background: url(../img/y-map.png) no-repeat center center;
    width: 1312px;
    height: 603px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.map-marker {
    position: absolute;
    background: url(../img/map-marker.png) no-repeat center center;
    width: 86px;
    height: 100px;
    top: 176px;
    left: 880px;
}

.contacts-map__info {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 24px;
}

.contacts-map__info-text {
    display: flex;
    justify-content: center;
}

.contacts-map__info p {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 150%;
    margin: 0;
}

.i-info-green {
    display: inline-block;
    vertical-align: bottom;
    background: url(../img/icons/info-green.svg) no-repeat center center;
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.contacts-map__contacts {
    position: absolute;
    background: #FFFFFF;
    border-radius: 12px;
    top: 38px;
    left: 40px;
}

.contacts-map__contacts-content {
    padding: 64px 88px 40px 64px;
}

.contacts-map__contacts-content h2 {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 32px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 121px;
}

.contacts-map__contacts-info {
    max-width: 265px;
}

.contacts-map__contacts-info .row {
    margin-left: 0;
}

.contacts-info-text {
    flex: 0 0 90%;
    font-family: 'Mulish';
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
}

.contacts-map__icon {
    flex: 0;
}

.i-map-marker {
    background: url(../img/icons/map-marker.svg) no-repeat center center;
    width: 27px;
    height: 27px;
}

.i-phone {
    background: url(../img/icons/phone.svg) no-repeat center center;
    width: 27px;
    height: 27px;
}

.i-letter {
    background: url(../img/icons/letter.svg) no-repeat center center;
    width: 27px;
    height: 27px;
}

.i-calendar {
    background: url(../img/icons/calendar.svg) no-repeat center center;
    width: 27px;
    height: 27px;
}

@media (max-width: 1399px) {
    .contacts-map__img {
        width: 1140px;
    }
    .map-marker {
        top: 175px;
        left: 795px;
    }
}

@media (max-width: 1200px) {
    .contacts-map__img {
        background: url(../img/y-map-2.png) no-repeat center center;
        width: 896px;
        height: 571px;
    }
    .map-marker {
        top: 158px;
        left: 546px;
    }
    .contacts-map {
        margin-top: 115px;
    }
    .contacts-map__contacts {
        top: 23px;
        left: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contacts-map-container {
        max-width: 768px;
    }
}

@media (max-width: 1023px) {
    .contacts-map__img {
        background: url(../img/y-map-3.png) no-repeat center center;
        width: 768px;
        height: 571px;
    }
    .map-marker {
        top: 281px;
        left: 341px;
    }
    .contacts-map {
        margin-top: 354px;
    }
    .contacts-map__contacts {
        top: -247px;
        left: 48px;
        width: 672px;
    }
    .i-info-green {
        width: 45px;
    }
    .contacts-map__contacts-content h2 {
        margin-bottom: 64px;
    }
    .contacts-map__contacts-info {
        max-width: 100%;
    }
    .contacts-map__info {
        width: 624px;
        position: absolute;
        top: 884px;
    }
}

@media (max-width: 768px) {
    .contacts-map-container {
        margin-left: 0;
        margin-right: 0;
        max-width: 768px;
        padding: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .contacts-map-container {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .contacts-map__img {
        background: url(../img/y-map-4.png) no-repeat center center;
        width: 480px;
        height: 728px;
    }
    .map-marker {
        top: 424px;
        left: 203px;
    }
    .contacts-map {
        margin-top: 338px;
    }
    .contacts-map__contacts {
        top: -247px;
        left: 14px;
        width: 455px;
    }
    .i-info-green {
        width: 65px;
    }
    .contacts-map__contacts-content h2 {
        margin-bottom: 64px;
    }
    .contacts-map__contacts-info {
        max-width: 100%;
    }
    .contacts-map__contacts-content {
        padding: 71px 120px 40px 74px;
    }
    .contacts-map__info {
        width: 384px;
        position: absolute;
        top: 1027px;
    }
}

@media (min-width: 360px) and (max-width: 479px) {
    .contacts-map-container {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 479px) {
    .contacts-map__img {
        background: url(../img/y-map-5.png) no-repeat center center;
        width: 360px;
        height: 567px;
    }
    .map-marker {
        top: 342px;
        left: 150px;
    }
    .contacts-map__contacts {
        top: -247px;
        left: 14px;
        width: 335px;
    }
    .contacts-map__contacts-content {
        padding: 40px 25px 7px 35px;
    }
    .contacts-map__info {
        width: 280px;
        position: absolute;
        top: 868px;
    }
    .i-info-green {
        width: 85px;
    }
    .contacts-map__contacts-content h2 {
        font-size: 28px;
        margin-bottom: 40px;
    }
}


/* ====================================================================================================== 
--CAREER-- 
====================================================================================================== */

.banner__col-text-career {
    padding-right: 30px;
}

.banner__text-career {
    padding-top: 146px;
    padding-bottom: 180px;
}

.career-img-banner-top {
    width: 722px;
    height: 722px;
    position: absolute;
    top: -50px;
    left: -122px;
}


/* ====================================================================================================== 
--WHY ND-- 
====================================================================================================== */

.why-nd-mt {
    margin-top: 215px;
}

.why-nd__col-text {
    flex: 0 0 auto;
    width: 40%;
}

.why-nd__col-tiles {
    flex: 0 0 auto;
    width: 58%;
    margin-left: 20px;
}

.why-nd__title {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 40px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 32px;
}

.why-nd__text {
    font-family: 'Mulish Light';
    font-size: 20px;
    line-height: 175%;
    padding-right: 90px;
}

.why-nd__tiles {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 40px 40px 22px 40px;
    margin-bottom: 24px;
}

.career-icon {
    width: 64px;
    height: 64px;
}

.why-nd__title-tiles {
    font-family: 'Montserrat Alternates SemiBold';
    font-size: 20px;
    line-height: 125%;
}

.why-nd__text-tiles {
    font-family: 'Mulish Light';
    font-size: 18px;
    line-height: 150%;
    padding-right: 10px;
}

.i-rocket {
    background: url(../img/icons/rocket.svg);
}

.i-tasks {
    background: url(../img/icons/tasks.svg);
}

.i-files {
    background: url(../img/icons/files.svg);
}

.i-circles {
    background: url(../img/icons/circles.svg);
}

.i-team {
    background: url(../img/icons/team.svg);
}

.nd-value {
    margin-top: 192px;
}

.nd-value__banner {
    background: url(../img/value-banner.png) no-repeat center center;
    width: 1792px;
    height: 476px;
    margin: 0 auto;
}

.nd-value__tiles {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 64px;
    margin-top: -86px;
}


/* ====================================================================================================== 
--FOOTER-- 
====================================================================================================== */

.footer-mt-comp {
    margin-top: 216px;
}

.footer-mt-home {
    margin-top: 112px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 65px;
    background: #0C131D;
}

.footer-logo {
    margin-top: 46px;
}

.navbar-footer {
    margin-top: 0;
}

.col-footer-1 {
    flex: 0 0 auto;
    width: 75%;
}

.col-footer-2 {
    flex: 0 0 auto;
    width: 20%;
}

.footer-contacts {
    color: #FFFFFF;
    margin-top: 47px;
}

.footer-contacts-phone {
    font-family: 'Montserrat Alternates SemiBold', sans-serif;
    font-size: 24px;
    line-height: 125%;
    margin: 0;
}

.footer-contacts-email,
.footer-contacts-address {
    font-family: 'Mulish Light', sans-serif;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

.footer-contacts-email {
    margin-top: 8px;
}

.footer-contacts-address {
    margin-top: 24px;
}

.navbar-footer {
    margin-top: -53px;
}

.footer-mt-contact {
    margin-top: 217px;
}

@media (max-width: 1399px) {
    .col-footer-2 {
        width: 22%;
    }
}

@media (max-width: 1200px) {
    .footer .row {
        justify-content: center;
    }
    .col-footer-1 {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .col-footer-2 {
        flex-basis: 30%;
        text-align: center;
    }
    .navbar-footer {
        margin-top: 48px;
        display: flex;
        justify-content: center;
    }
    .navbar-footer .navbar-nav {
        flex-direction: row;
    }
    .navbar-footer .navbar-nav .nav-link {
        padding-left: 0.7rem!important;
        padding-right: 0.7rem!important;
    }
    .footer-logo {
        margin-top: 28px;
    }
    .footer-contacts {
        margin-top: 41px;
    }
    .footer-mt-comp {
        margin-top: 112px;
        padding-bottom: 35px;
    }
    .footer-mt-home {
        margin-top: 110px;
        padding-bottom: 35px;
    }
    .footer-mt-contact {
        margin-top: 113px;
    }
}

@media (max-width: 1023px) {
    .col-footer-2 {
        flex-basis: 40%;
    }
    .navbar-footer {
        padding: 0;
    }
    .footer-mt-contact {
        margin-top: 101px;
        padding-bottom: 35px;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 94px;
        padding-bottom: 25px;
    }
    .navbar-footer {
        margin-top: 34px;
    }
    .navbar-footer .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
    .col-footer-2 {
        flex-basis: 60%;
    }
    .logo-2 {
        width: 224px;
        height: 44px;
        background-size: contain;
    }
    .navbar-footer .navbar-nav .nav-link {
        padding-bottom: 16px;
    }
    .footer-mt-comp {
        margin-top: 124px;
    }
    .footer-mt-contact {
        margin-top: 97px;
    }
}

@media (max-width: 479px) {
    .col-footer-2 {
        flex-basis: 80%;
    }
}