/* --FONTS-- */

@font-face {
    font-family: 'Montserrat Alternates Light';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBold';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish Bold';
    src: url('../fonts/Mulish/Mulish-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background: #F7F7F8;
    color: #0C131D;
    font-size: 20px;
}

h2 {
    font-family: 'Montserrat Alternates SemiBold';
    font-style: normal;
    font-size: 40px;
    line-height: 125%;
}

.text-center {
    text-align: center;
}

.logo {
    display: block;
    width: 224px;
    height: 44px;
    background: url(../img/logo.svg) no-repeat center left;
}

.logo-2 {
    display: block;
    width: 306px;
    height: 60px;
    background: url(../img/logo-2.svg) no-repeat center left;
}


/* --NAVBAR-- */

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #0C131D;
    line-height: 150%;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: #56CCF2;
}

.navbar-footer .navbar-nav {
    padding-left: 0;
}

.navbar-footer .nav-link {
    color: #FFFFFF;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 23px;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 1.53rem;
        padding-top: 0.54rem;
    }
    .navbar-footer .nav-link {
        padding-left: 0!important;
        padding-right: 1.5rem!important;
    }
    .navbar-expand-lg .navbar-nav-scroll {
        overflow: visible;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    /* --BUTTONS-- */
    .btn {
        font-family: 'Mulish Bold';
        font-size: 18px;
        line-height: 180%;
        display: inline-block;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 12px 16px 12px 24px;
        border-radius: 8px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    @media (prefers-reduced-motion: reduce) {
        .btn {
            transition: none;
        }
    }
    .btn:hover {
        color: #212529;
    }
    .btn-primary {
        color: #fff;
        background-color: #2F80ED;
        border-color: #2F80ED;
    }
    .btn-primary:hover {
        color: #fff;
        background-color: #56CCF2;
        border-color: #56CCF2;
    }
    .i-up-right {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-left: 15px;
        -webkit-mask-image: url(../img/icons/up-right.svg);
        mask-image: url(../img/icons/up-right.svg);
        background-color: #FFFFFF;
    }
    /* --banner-- */
    .banner {
        margin-top: 73px!important;
    }
    .tiles {
        width: 1547px;
        border-radius: 16px;
        background: #FFFFFF;
    }
    .banner-text {
        font-family: "Montserrat Alternates SemiBold";
        font-size: 56px;
        line-height: 125%;
        margin: 0;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .banner-text span {
        color: #2F80ED;
    }
    .cube {
        background-image: url(../img/cube.png);
        width: 722px;
        height: 722px;
        position: absolute;
        top: 113px;
        left: 923px;
    }
    /* --statistic-- */
    .statistic {
        margin-top: 80px!important;
    }
    .stat-title {
        font-family: "Mulish Bold";
        font-size: 24px;
        line-height: 170%;
        margin-top: 80px;
        margin-bottom: 0;
    }
    .stat-value {
        font-family: 'Montserrat Alternates Bold';
        font-size: 40px;
        line-height: 125%;
        margin-top: 0;
        margin-bottom: 80px;
        background: radial-gradient(76.96% 76.96% at 0% 0%, #56CCF2 0%, #2F80ED 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .statistic .row {
        justify-content: space-between;
    }
    @media (min-width: 992px) {
        .w-stat {
            width: 20%;
        }
    }
    /* --ABOUT-- */
    .about {
        margin-top: 216px;
    }
    .about h2 {
        margin-top: 0;
    }
    .about p {
        font-family: 'Mulish';
        font-style: normal;
        font-size: 20px;
        line-height: 175%;
    }
    .about-content {
        margin-top: 117px;
    }
    .about .btn {
        margin-top: 26px;
    }
    /* --ACTIVITY-- */
    .activity {
        margin-top: 210px!important;
    }
    .activity h2 {
        padding-top: 80px;
        padding-bottom: 80px;
        margin: 0;
    }
    .activity p {
        font-family: 'Mulish';
        font-size: 20px;
        line-height: 150%;
    }
    .i-dev {
        display: inline-block;
        background-image: url(../img/icons/dev.svg);
        width: 48px;
        height: 48px;
    }
    /* --PROJECTS-- */
    .projects {
        margin-top: 216px;
    }
    .tile-sm {
        border-radius: 12px;
        background-color: #FFFFFF;
    }
    /* --FOOTER-- */
    .footer {
        margin-top: 112px;
        padding-top: 50px;
        padding-bottom: 50px;
        background: #0C131D;
    }
}